:root {
    --gray-light : #d7d7d7;
}

body {
    max-height: 100vh;
    overflow: hidden;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.contact-container {
    width: 70%;
    min-height: 65%;
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--gray-light); 
    padding: 24px;
    display: flex;
    gap: 12px;
    animation: fade-in 1s;
}

.form-title {
    text-align: center;
    font-weight: 600;
    color: var(--green);
    
}

.contact-form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 12px; */
    padding: 0 12px;
    display: none;
}

#register.contact-form {
    justify-content: space-between;
}

#login button {
    padding: 8px 16px;
}


.contact-form.active {
    display: flex;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.news-checkbox {
    display: flex;
    flex-direction: row;
    gap : 4px;  
}

input, textarea {
    padding: 6px 12px;
    border-radius: 6px;
    border: 2px solid var(--green);
    font-size: 1rem;
    outline: var(--green-light);
    overflow: auto;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
    overflow: auto;
    resize: none;
}

label {
    font-weight: 500;
}

#input-check {
    cursor: pointer;
}

.news-checkbox label {
    font-weight: normal;
}

span {
    text-align: center;
}

span a {
    color : var(--green);
    text-decoration: underline;
}

.contact-showcase {
    height: 100%;
    width: 50%;
    border-radius: 6px;
    background: linear-gradient(0deg,rgb(130, 187, 188), rgb(213, 234, 234));
    position: relative;
    overflow: hidden;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.contact-showcase img {
    position: absolute;
    left: calc(1/2 * 20%);
    bottom: -5%;
    width: 80%;
    object-fit: cover;
    aspect-ratio: auto;
}

.contact-showcase h1 {
    margin-top: 24px;
    color: var(--light-clr);
}

label {
    color: var(--dark-clr);
}

footer a, footer span {
    color: var(--light-clr);
}

.error-message {
    color: red;
    /* font-weight: 500; */
    background-color: #ffd6d6;
    padding: 6px 12px;
    border-radius: 6px;
    text-align: center;
}

@media  screen and (max-width : 768px) {
    body {
        max-height: none;

    }
    section {
        height: 100vh;
    }
    .contact-container {
        height: auto;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 12px;
        padding: 18px;
        gap: 24px;
    }

    .contact-form {
        width: 100%;
        gap: 16px;
        height: auto;
        padding: 0;
    }

    .contact-form.active {
        display: flex;
    }

    .contact-showcase {
        width: 100%;
        height: 20vh;
    }

    .contact-showcase img {
        bottom: -25%;
        width: 80%;
    }

    .contact-showcase h1 {
        margin-top: 6px;
    }

    .page-title {
        padding: 0 12px;        
    }
}


