
@media  screen and (max-width : 768px) {

    .page-title {
        font-size: 32px;
    }

    footer .menu-container {
        flex-direction: column;
        font-size: 0.8rem;
    }

    

    section {
        padding: 0 12px;
    }

    

    #menu-burger {
        display: flex;
        cursor: pointer;
    }

    @keyframes slide-in {
        0% {
            transform: translateX(100%);
        };
        100% {
            transform: translateX(0);
        };
    }
    
    .navbar {
        display: none;
    }

    
    .mobile {
        display: flex;
        position: absolute;
        flex-direction: column;
        right: 0;
        top : 50px;
        background-color: var(--light-clr);
        height: 100dvh;
        width: 60%;
        z-index: 20;
        justify-content: start;
        align-items: start;
        padding: 12px;
        gap: 12px;
        animation: slide-in 0.3s  ;
        
    }

    .mobile li {
        width: 100%;
        padding: 6px 12px;
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 6px;
    }

    .mobile li:hover {
        background-color: var(--green-light);
        color : var(--green)
    }

    header nav li a:hover{
        color : var(--green)
    }

    header {
        justify-content: space-between;
        padding: 0 12px;
    }

    #category-grid {
        height: fit-content;
    }

    .grid-bento {
        display: grid;
        max-height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .grid-child:first-child {
        grid-column: 1/2;
        grid-row: 1/3;

    }

    .grid-child:nth-child(2) {
        grid-column: auto;
        grid-row: auto;
    }

    .grid-child:nth-child(3) {
        grid-column: auto;
        grid-row: auto;
    }

    .grid-child:nth-child(4) {
        grid-column: auto;
        grid-row: auto;
        /* display: none; */
    }

    .grid-child:last-child {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .category-name {
        width: 100%;
        font-size: 0.8rem;
        margin: 12px;
        font-weight: 800;
        /* display: none; */
    }

    .category-link {
        font-size: 0.8rem;
        top : 16px;
        margin: 12px;
        /* color: var(--dark-clr); */
        /* border : none; */
        /* display: none; */
    }

    

    .product-slider {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        gap: 4px;
    }

    .product-card {
        width: 100%;
        padding: 4px;
    }

    .product-card .product-price {
        font-size: 0.9rem;
    }

    .product-card .product-details {
        align-items: start;
    }

    .product-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-img img {
        width: 85%;
        height: auto;
        /* height: 80%; */
    }

    #faq {
        height: auto;
        width: 100%;
    }

    .faq-container {
        flex-direction: column;
    }

    .faq-questions {
        width: 100%;
    }


    #faq p {
        width: 100%;
        text-align:center;
    }

    .left-content {
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 32px;
        text-align: center;
    }

    .sub-headline {
        width: 90%;
    }

    #hero h1 {
        font-size: 42px;
    }

    #hero button {
        width: 100%;
    }

    #hero {
        /* border: 1px solid violet; */
        padding: 0;
        
    }

    #hero-content {
        width: 100%;
        max-height: auto;
        /* border: 1px solid red; */
        
        
    }

    .hero-img {
        width: 80%;
        height: fit-content;
        max-height: auto;
        position: relative;
        /* border: 1px solid red; */
    }

    .e-pharm-footer {
        font-size: 2.6rem;
    }

    .btn-container {
        width: 100%;
    }

    .btn-container a {
        width: 100%;
    }


}