:root {

    --light-clr : white;
    --green-light-all : #04dcb8;
    --dark-clr : #142a21;
    --green : #01806a;
}

/* Importation d'une police Google Fonts pour un look moderne et lisible */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

header * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--dark-clr);
    
}

input {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    margin: 24px 0;
    color: var(--green);
    animation: fade-in-reverse 1s ;
}

.outline-bordered{
    border: 2px solid var(--green);
    background-color: var(--light-clr);
    color: var(--green);
}


.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 12px 0;
}

header button {
    padding: 6px 12px;
    background: black;
    color : white;
    border-radius: 4px;
    border: none;
    min-width: 150px;
    transition: 0.3s all  ease-in;
    cursor: pointer;
    background-color: var(--green);
    border: 2px solid var(--green);
    font-size: 1.1rem;
}

.icon-md {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.icon {
    height: 24px;
    width: 24px;
}


button a {
    color: var(--light-clr);
    height: 100%;
    width: 100%;
}

header button:hover {
    background-color: var(--green-light-all);
    border: 2px solid var(--green-light-all);
}

.hidden {
    display: none;
}

#menu-burger {
    display: none;
    height: 32px;
    width: 32px;
}


/* Header & Navbar */
header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 12px;
    /* border: 0.5px solid var(--dark-clr); */
    
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 2;

}
header a {
    font-size: 1.1rem;
    transition: 0.3s all  ease-in-out;
}

header button {
    width: 100px;
}

nav li a{
    padding: 4px 12px;
    
}

nav li a:hover {
    color: var(--green-light);
}

#logo {
    font-weight: bold;
}


header button a {
    color: white;
}

.logo span{
    font-size: 24px;
    font-weight: bold;
}

/* footer */
footer * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color : var(--light-clr);
    font-weight:300;
}

footer {
    background-color:#0b1813;
    width: 100%;
    padding: 24px 48px;

}



.footer-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.e-pharm-footer {
    font-size: 8rem;
    letter-spacing: 12px;
    font-weight: bold;
    color: #142920;
    margin: 0;
    padding: 0;
    
}

.menu-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
    flex-wrap: wrap;
    gap: 12px;

}

.footer-menu span{
    font-weight: 600;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.logo span{
    font-size: 24px;
    font-weight: bold;
}

.separator {
    width: 100%;
    height: 1px;
    background: #142920;
    margin-bottom: 12px;
}
