header {
    justify-content: space-between;
    position: fixed;
    z-index: 50;
    background-color: var(--light-clr);
}

.wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    /* background-color: rgba(255, 255, 255, 0.217) */
    /* border: 1px solid red; */
}

/* UTILS */


/* SIDEBAR */

aside {
    position: fixed;
    left: 0;
    height: 100%;
    width: 20vw;
    padding: 24px 12px;
    background-color: var(--dark-clr);
}

aside * {
    color: var(--light-clr);
}

aside nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    font-size: 1.1rem;
}

aside nav li {
    width: 100%;
    border-radius: 6px ;
    padding: 6px 12px;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;
    opacity: 0.7;
}

aside nav li img {
    filter: invert();
}

aside nav li:hover {
    background-color: var(--green-light);
    opacity: 1;
}

/* MAIN CONTENT */
main {
    position: absolute;
    right: 0;
    width: 78vw;
    height: 100%;
    z-index: -50;

}

section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 12px;
}

/* DASHBOARD */
#dashboard-summary {
    width: 100%;
    height: 15vh;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}
 
.summary-card {
    width: 24%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 4px 12px var(--gray-light); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-card .card-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card-wrapper .card-img {
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background-color: var(--green-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper .card-img img {
    filter: invert();
}

.card-wrapper .card-text {
    display: flex;
    flex-direction: column;
}

.card-wrapper .card-text .card-title {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.2rem;
}

.card-wrapper .card-text .card-sub-title {
    font-size: 0.9rem;
    opacity: 0.7;
}

.sub-section-title {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid var(--gray-light);
}

.sub-section-title span {
    font-weight: 600;
    font-size: 1.1rem;
}

select {
    padding: 4px;
    font-size: 1rem;
    border-radius: 1px solid var(--dark-clr);
    outline: none;
    border-radius: 6px;
}

#dashboard-graph {
    background-color: var(--light-clr);
    border-radius: 6px;
    box-shadow: 0 4px 12px var(--gray-light); 
    width: 100%;
    height: 50vh;
}

#dashboard-customers {
    width: 100%;
    height: auto;
    display: flex;
    gap: 24px;
    
}
#dashboard-customers .customers-child {
    background-color: var(--light-clr);
    border-radius: 6px;
    box-shadow: 0 4px 12px var(--gray-light); 
    width: 50%;

}

.customers-child .list {
    height: auto;
    width: 100%;
    padding:12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.customers-child .list .list-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;

}

.list-item:hover {
    background-color: var(--gray-light);
}

.list-item .list-item-img {
    height: 32px;
    width: 32px;
    background-color: var(--green-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.list-item-img img {
    filter: invert();
}

.list-item-link {
    position: absolute;
    right: 0;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.list-item-link img {
    opacity: 0.7;
}

.list-item-text {
    display: flex;
    flex-direction: column;
}

.list-item-title {
    font-weight: 500;
    line-height: 0.9rem;
}

.list-item-sub-title {
    font-size: 0.8rem;
    opacity: 0.7;
}

#dashboard-products {
    width: 100%;
    background-color: var(--light-clr);
    box-shadow: 0 4px 12px var(--gray-light);
    border-radius: 6px;

}

#dashboard-products .products-frame {
    display: flex;
    gap: 12px;
    padding: 12px;
}



/* FOOTER */

footer  {
    display: none;
}