:root {

    --light-clr : white;
    --green-light : #04dcb8;
    --dark-clr : #142a21;
    --green : #01806a;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    background-color: var(--light-clr);
}


section {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    gap: 24px;
}

.icon-md {
    height: 32px;
    width: 32px;
    cursor: pointer;
}


span, a, p{
    color: var(--dark-clr);
}

h1 {
    color: var(--dark-clr);
    font-size: 48px;
}


 button {
    padding: 6px 12px;
    background: black;
    color : white;
    border-radius: 4px;
    border: none;
    min-width: 150px;
    transition: 0.3s all  ease-in;
    cursor: pointer;
    background-color: var(--green);
    border: 2px solid var(--green);
    font-size: 1.1rem;
}

button:hover {
    background-color: var(--green-light);
    border: 2px solid var(--green-light);
}





/* Hero section */

#hero a {
    font-size: 1.1rem;
}

#hero {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;    
    height: auto;
    width: 100%;
    margin-bottom: 64px;
    color: var(--light-clr);
    background: linear-gradient(0deg,rgb(130, 187, 188), rgb(213, 234, 234), white)
}

.hero-gradient-b {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: -15%;
    z-index: -10;
    /* background-color: red; */
    background: linear-gradient(rgb(130, 187, 188), white)
}
.hero-img {
    overflow: hidden;
    width: 50%;
    flex: 1;
    animation: fade-in 1s ;
}

.hero-img img {
    width: 100%;
}

.btn-container  {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
#hero-content {
    animation: fade-in-reverse 1s ;
    max-width: 80%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    gap : 16px;
    flex : 2

}

.sub-headline {
    width: 600px;
    text-align: center;
}
#hero-content h1 {
    font-size: 64px;
    text-align: center;
    font-weight: 600;
    color: var(--green);
}



#hero-content button {
    width: auto;
    padding: 12px 24px;
}

button a {
    color: var(--light-clr);
    transition: all 0.3s ease;
}

.outline {
    color: var(--green);
    background-color: var(--light-clr);
    border: 2px solid var(--light-clr);
    
}

.outline:hover {
    color: var(--light-clr);
}

.outline * {
    color : var(--green)
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    padding: 12px;
}

.icon-lg {
    width: 48px;
}

.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 12px 0;
}


.container {
    width: 100%;
}



/* Category Grid Section */
#category-grid h1 {
    text-align: center;
}
.grid-child {
    background-color: var(--green);
    height: 100%;
    width: 100%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.grid-child:hover {
    transform: scale(1.02);
}

.grid-child img {
    height: 100%;
    width: 100%;
    aspect-ratio: auto;
    object-fit: cover;
}


.grid-bento {
    animation: zoom-in 1s ;
    display: grid;
    width: 100%;
    height: 95dvh;
    max-height: 100vh;
    /* overflow: hidden; */
    gap: 12px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-child:first-child {
    grid-column: 1/3 ;
    grid-row: 1/2;
}

.grid-child:nth-child(4) {
    grid-column: 4/6;
    grid-row: 2/3;
}

.grid-child:nth-child(2){
    grid-column: 3/6;
}

.grid-child:nth-child(3){
    grid-column: 1/4;
    grid-row: 2/3;
}

.grid-child:last-child {
    grid-column: 6/8;
    grid-row: 1/3;
}

.category-name {
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-clr);
}

.category-link {
    position: absolute;
    top : 24px;
    left: 0;
    margin: 12px;
    padding: 0.5px 0;
    border-bottom: 2px solid;
    color: var(--green);
    font-size: 1.1rem;
}

/* Top products section */
#top-products h1{
    text-align: center;
}

.product-slider {
    width: 100%;
    position: relative;
    height: auto;
    padding: 8px 0;
    flex-wrap: wrap;
}



.icon {
    height: 24px;
    width: 24px;
}


/* FAQ */
#faq {
    width: 100%;
    /* height: 70dvh; */
    padding: 0 32px;
    
}

.faq-container {
    align-items: start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

#faq .left {
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 12px;
    flex: 1;
}

.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 0;
    /* width: 40vw; */
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

 .faq-question-div {
    border-bottom: 2px solid var(--dark-clr);
    width: 100%;
}

.faq-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    flex: 1;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

}

#faq .left-content {
    width: 100%;
    height: 100%;
}

.left-content .sub-headline {
    text-align: left;
    width: 500px;
}

summary span {
    font-weight: 600;
}

/* ACCOUNT BTN AND ACCESS */
.account-btn  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    
}

.floater {
    position: absolute;
    box-shadow: 0 4px 12px var(--gray-light); 
    top: 32px;
    right: 0;
    margin: 24px;
    background-color: var(--light-clr);
    width: 200px;
    height: 180px;
    border-radius: 6px;
    z-index: -50;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
}

.floater form {
    border-top: 1px solid var(--gray-light);
    padding: 12px 0;
}

.floater .account-profile {
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background-color: var(--green-light);

}

.floater .account-profile img {
    filter: invert(1);
}

.floater .logout-btn {
    background-color: #ffd6d6;
    color: red;
    border: none;
}

.floater .logout-btn:hover {
    background-color: red;
    color: #ffd6d6;
}

.account-btn:hover .floater {
    opacity: 1;
    z-index: 50;
}
