main {
    height: auto;
}
#overview {
    padding: 12px;
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 24px;
    min-height: 60vh;
    margin: 24px auto;
    animation: zoom-in 1s;
}

#product-suggestion {
    margin-top: 72px;
    animation: fade-in 1s;
}


#image {
    background-color: var(--gray-light);
    background-color: rgb(234, 231, 231);
    border-radius: 12px;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#image img {
    aspect-ratio: auto;
    object-fit:cover;
    height: 100%;
    width: 100%;
    max-height: 60vh;
}

#details {
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 18px;
    padding: 0 6px;
}

#details h2 {
    font-size: 2rem;
}

.suggestion-title {
    width: 100%;
    text-align: center;
    font-size: 32px;
}


.badge {
    /* border: 2px solid var(--green-light); */
    width: fit-content;
    padding: 2px 12px;
    background-color: #04dcb833;
    color: var(--green-light);
    border-radius: 24px;
    font-size: 0.9rem;
    cursor: default ;
}
.description {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.description span {
    font-size: 1.1rem;
    font-weight: 600;
}

form {
    display: flex;
    gap: 16px;
    width: 100%;
    flex-direction: column;
}

form button {
    height: 100%;
    flex: 3;
    padding: 12px 24px;
}

.quantity {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    justify-content: space-between;
    gap: 12px;

}

.quantity input {
    padding: 6px 12px;
    font-size: 1rem;
    height: 100%;
    border: 2px solid var(--green);
    border-radius: 6px;
    flex: 1;
}

.quantity label {
    font-weight: 600;
    font-size: 1.1rem;
}

.btn-to-catalog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-to-catalog button {
    width: 300px;
    padding: 12px 24px;
    border: 2px solid ;
}

footer a, footer span {
    color: var(--light-clr);
}


@media  screen and (max-width : 768px) {
    #overview {
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;

    }

    #image {
        width: 80%;
        max-height: 50vh;
    }

    #details {
        width: 100%;
        padding: 12px 24px;
    }
}